<div class="container mb-3 pb-3 mt-4">
    <div class="form-row color-back mb-0 pb-0">
        <div class="col-md-8 pb-1 mb-2 pl-3 pr-3">
            <div id="divChart">
                <canvas id="myChart" width="50px" height="50px"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <form class="color-back pl-3 pr-3" #userForm="ngForm">
                <h1 class="title_rounded text-center">Opciones</h1>
                <hr>
                <div class="inlineblock">
                    <div class="inlineblock">
                        <label class="text-left mb-2">Filtro</label>
                        <select class="form-control rounded " name="filtroCategoria" ngModel>
                            <option selected  value="">Seleccione una categoría </option>
                            <option value="1">Sexo</option>
                            <option value="2">Diagnostico</option>
                            <option value="3">Estados</option>
                        </select>
                    </div>
                    <label class="text-left mb-2">Tipo de gráfico</label>
                    <select name="tipoChart" class="form-control rounded" name="tipoDeGrafico" ngModel>ç
                        <option value="">Seleccione un tipo</option>
                        <option value='bar'selected="true">Barra</option>
                        <option value='pie'>Torta</option>
                    </select>
                </div>
                <br>
                <div class="m-2 float-right">
                    <button class="btn-green-avanza m-2" (click)="ObtenerOpciones(userForm)">Actualizar</button>
                    <button class="btn btn-outline-secondary m-2" routerLink="/home">Atrás</button>
                </div>
            </form>
        </div>
    </div>
</div>