<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Restablecer Contraseña</h5>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <p>Ingresa el correo electónico para recuperar la contraseña</p>
      <label for="name">Correo Electrónico</label>
      <input type="text" name="email" class="form-control" id="name_id" [(ngModel)]="email">
      <div *ngIf="!validacion.correoValido && validacion.mostrarError" class="text-danger">Correo electrónico inválido</div>
      <div *ngIf="validacion.usuarioVerificado && validacion.correoValido && validacion.mostrarError" class="text-success">Usuario válido </div>
      <div *ngIf="!validacion.usuarioVerificado && validacion.correoValido && validacion.mostrarError" class="text-danger">El usuario no existe</div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="enviar()">Aceptar</button>
</div>
